#appPage
  padding-top: 115px
  min-height: 100%

  .wrapper
    max-width: 1020px
    margin: 0 auto

  .title
    font-size: 50px
    display: inline-block
    vertical-align: top
    margin-top: 70px
    margin-left: 20px

  .subtitle
    padding: 25px 0
    font-size: 30px
    font-weight: bold

  .store-btn
    float: right
    height: 0

  .desc
    padding: 10px 0
    padding-left: 30px
    font-size: 18px

  .screen
    padding: 10px
