#header
  background-color: black
  position: fixed
  top: 0px
  left: 0px
  z-index: 1
  width: 100%

  .logo
    display: inline-block
    cursor: pointer

  .nav-item
    text-decoration: none
    vertical-align: top
    font-size: 26px
    display: inline-block
    padding: 13px
    cursor: pointer
    color: #fff

    &:nth-child(2):hover
      color: #f00

    &:nth-child(3):hover
      color: #0f0

    &:nth-child(4):hover
      color: #00f
